@(breed : BreedDetail, personalities : List[PersonalityByBreed], colors : List[ColorByBreed])
@html5.render
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/carousel.css">
    <title>Breed</title>
</head>
<body>
    @navbar("breed")
    <div class="container text-primary">
        <h3>@breed.getBreedName</h3>
    </div>
    <div class="container">
        <div class="table table-dark bg-primary table-hover">
            <br>
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-8">
                                <div class="container mt-3">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ul class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                        </ul>
                                        <!-- The slideshow -->
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="/assets/images/@breed.getBreedName/@breed.getPhoto1" height="100">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/assets/images/@breed.getBreedName/@breed.getPhoto2" height="100">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/assets/images/@breed.getBreedName/@breed.getPhoto3" height="100">
                                            </div>
                                        </div>
                                        <!-- Left and right controls -->
                                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><br>
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-3">
                                <h3>General Traits:</h3>
                                <p>Weight: @breed.getWeightMin - @breed.getWeightMax pounds</p>
                                <p>Height: @breed.getHeightMin - @breed.getHeightMax inches</p>
                                <p>Lifspan: @breed.getLifeSpanMin - @breed.getLifeSpanMax years</p>
                                <p>Hair length: @breed.getHairLengthName</p>
                                <p>Cost from breeder: $@breed.getCostFromBreeder</p>
                            </div>
                            <div class="col-3">
                                <h3>Available colors: </h3>
                                @for(colorByBreed <- colors){
                                    <p>@colorByBreed.getColorName</p>
                                }
                            </div>
                            <div class="col-4">
                                <h3>Personality traits: </h3>
                                @for(personalityByBreed <- personalities){
                                    <p>@personalityByBreed.getPersonalityName</p>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </div>
    </div>
</body>
</html>