@(breeders : List[Location])
@html5.render
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Breeders</title>
</head>
<body>
@navbar.render("breeders")
<div class="container">
    <h3 class="text-primary">Breeders</h3>
    <table class="table table-dark bg-primary table-hover">
        @for(breeder <- breeders) {
        <tr>
            <td><a href="/location/@breeder.getLocationId"><font color="white">@breeder.getLocationName</font> </a></td>
        </tr>
        }
    </table>
</div>
</body>
</html>