@(breedDetail : BreedDetail, personalities : List[PersonalityByBreed], colors : List[ColorByBreed])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breed</title>
</head>
<body>
    <div class="container">
        <h1>@breedDetail.getBreedName</h1>
        Personality traits:
        @for(personalityByBreed <- personalities){
            @personalityByBreed.getPersonalityName
        }
        Colors:
        @for(colorByBreed <- colors){
            @colorByBreed.getColorName
        }
    </div>
</body>
</html>