<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Create Account</title>
</head>
<body>
    @navbar("createAccount")
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>What type of account would you like to create?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <a href="/createBreederAccount">Breeder</a>
            </div>
            <div class="col-4 text-center">
                <a href="/createShelterAccount">Shelter</a>
            </div>
            <div class="col-4 text-center">
                <a href="/createUserAccount">Person</a>
            </div>
        </div>
    </div>
</body>
</html>