@(status : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Create Account</title>
</head>
<body>
    @navbar("createUserAccount")
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Create a new account</h3>
                <form method="POST" enctype="multipart/form-data">
                    @CSRF.formField
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="firstName" placeholder="Enter your first name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName"aria-describedby="lastName" placeholder="Enter your last name">
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Email address</label>
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress"aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Password</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="profilePhoto">Upload a profile photo</label>
                        <input type="file" id="profilePhoto" name="profilePhoto">
                    </div>
                    <div class="form-group">
                        <label for="bio">Tell us about yourself:</label>
                        <textarea class="form-control" rows="5" id="bio" name="bio" maxlength="500"></textarea>
                    </div>
                    <input type="submit" value="Create Account">
                </form>
                <p>@status</p>
            </div>
        </div>
    </div>
</body>
</html>