@(states : List[State], status : String)
@html5.render
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>New Breeder</title>
</head>
<body>
@navbar("createUserAccount")
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Create a new shelter account</h3>
            <form method="POST">
                @CSRF.formField
                <div class="form-group">
                    <label for="locationName">Company name</label>
                    <input type="text" class="form-control" maxlength="50"
                           id="locationName" name="locationName"
                           aria-describedby="locationName" placeholder="Enter the name of your company">
                </div>
                <div class="form-group">
                    <label for="streetAddress">Street address</label>
                    <input type="text" class="form-control" id="streetAddress" maxlength="50"
                           name="streetAddress" aria-describedby="streetAddress" placeholder="Enter your street address">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" maxlength="50"
                           aria-describedby="city" placeholder="Enter your city">
                </div>
                <div class="form-group">
                    <label for="state">Select your state</label>
                    <select class="form-control" id="state" name="state">
                        @for(state <- states){
                        <option>@state.getStateName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="zipCode">Zip code</label>
                    <input type="text" class="form-control" id="zipCode" name="zipCode" maxlength="5"
                           aria-describedby="zipCode" placeholder="Enter your 5 digit zip code">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" maxlength="12"
                           aria-describedby="phoneNumber" placeholder="Enter your phone number">
                    <small id="phoneHelp" class="form-text text-muted">Use the format xxx-xxx-xxxx</small>
                </div>
                <div class="form-group">
                    <label for="URL">Website URL</label>
                    <input type="text" class="form-control" id="URL" name="URL" maxlength="1000"
                           aria-describedby="URL" placeholder="Enter your URL">
                    <small id="urlHelp" class="form-text text-muted">Copy paste your company's URL</small>
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email address</label>
                    <input type="email" class="form-control" id="emailAddress" name="emailAddress" maxlength="100"
                           aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">You'll use this to log in</small>
                </div>
                <div class="form-group">
                    <label for="locationPassword">Create password</label>
                    <input type="password" class="form-control" id="locationPassword" maxlength="50"
                           name="locationPassword" placeholder="Password">
                </div>
                <input type="submit" value="Create Account">
            </form>
            <p>@status</p>
        </div>
    </div>
</div>
</body>
</html>