@(page : String)
<br>
<div class="row">
    <div class="col-3">

    </div>
    @if(page != "start"){
        <div class="col-2">
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <input class="btn btn-primary" value="Back">
            </a>
        </div>
    }else{
        <div class="col-2">

        </div>
    }

    @if(page == "end"){
        <div class="col-2">
            <font color="blue"><input type="submit" class="btn btn-primary" value="Find My Dog!"></font>
        </div>
    }else{
        <div class="col-2">

        </div>
    }

    @if(page != "end"){
        <div class="col-2">
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <input class="btn btn-primary" value="Next">
            </a>
        </div>
    }else{
        <div class="col-2">

        </div>
    }

    <div class="col-3">

    </div>
</div>