@(user : PetPagesUser, dog : DogDetail, color : Color, colors : List[Color],
  dogPersonalities : List[Personality], personalities : List[Personality], dogPersonalityIds : List[Integer],
  breeds : List[Breed], breed1 : String, breed2 : String, breed3 : String, status : String)
@html5.render
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/radio.css">
    <link rel="stylesheet" href="/assets/stylesheets/checkbox.css">
    <link rel="stylesheet" href="/assets/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="/assets/stylesheets/fontawesome.css">
    <title>Arkansas Pet Pages</title>
</head>
<body>
@navbar("userPage")
<div class="container text-primary">
    <h3>Edit @dog.getDogName</h3>
    <p>@status</p>
</div>
<div class="container bg-primary text-white">
    <br>
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                @CSRF.formField
                <div class="form-group">
                    <label for="dogName">Edit @dog.getDogName's Name</label>
                    <input type="text" class="form-control" id="dogName" name="dogName" maxlength="50"
                           aria-describedby="dogName" value="@dog.getDogName">
                </div>
                <div class="form-group">
                    <label for="dogDefaultPhoto">Change @dog.getDogName's default photo</label><br>
                    <input type="file" name="dogDefaultPhoto" id="dogDefaultPhoto">
                </div>
                <div class="form-group">
                    <label for="dogPhoto1">Add up to 3 photos of @dog.getDogName</label><br>
                    <input type="file" name="dogPhoto1" id="dogPhoto1">
                    <input type="file" name="dogPhoto2" id="dogPhoto2">
                    <input type="file" name="dogPhoto3" id="dogPhoto3">
                </div>
                <p>Edit @dog.getDogName's Gender</p>
                @if(dog.getGenderName == "Male"){
                    <div class="radio">
                        <label class="radiochoice">Male
                            <input type="radio" name="gender" value="1" checked="checked">
                            <span class="radiocheckmark"></span>
                        </label>
                    </div>
                }else{
                    <div class="radio">
                        <label class="radiochoice">Male
                            <input type="radio" name="gender" value="1">
                            <span class="radiocheckmark"></span>
                        </label>
                    </div>
                }
                @if(dog.getGenderName == "Female"){
                    <div class="radio">
                        <label class="radiochoice">Female
                            <input type="radio" name="gender" value="2" checked="checked">
                            <span class="radiocheckmark"></span>
                        </label>
                    </div>
                }else{
                    <div class="radio">
                        <label class="radiochoice">Female
                            <input type="radio" name="gender" value="2">
                            <span class="radiocheckmark"></span>
                        </label>
                    </div>
                }
                <div class="form-group">
                    <label for="dogAge">Edit @dog.getDogName's Age</label>
                    <input type="text" class="form-control" id="dogAge" name="dogAge" maxlength="2"
                           aria-describedby="dogAge" value="@dog.getDogAge">
                    <small id="dogAgeEg" class="form-text text-muted"><font color="white">Examples: 4, 6, 2. If your dog is less than 1 year old, enter 0.</font></small>
                </div>
                <div class="form-group">
                    <label for="dogWeight">Edit @dog.getDogName's Weight</label>
                    <input type="text" class="form-control" id="dogWeight" name="dogWeight" maxlength="3"
                           aria-describedby="dogWeight" value="@dog.getWeight">
                    <small id="dogWeightEg" class="form-text text-muted"><font color="white">Examples: 12, 56, 34</font></small>
                </div>
                <div class="form-group">
                    <label for="dogWeight">Dog @dog.getDogName's Height</label>
                    <input type="text" class="form-control" id="dogHeight" name="dogHeight" maxlength="50"
                           aria-describedby="dogHeight" value="@dog.getHeight">
                    <small id="dogHeightEg" class="form-text text-muted"><font color="white">Examples: 12, 28, 22. If you're not sure, give it your best guess. Reference the breed page to get a better idea.</font></small>
                </div>
                <div class="form-group">
                    <label for="hairLength">Edit @dog.getDogName's hair length:</label>
                    <select class="form-control" id="hairLength" name="hairLength">
                        @if(dog.getHairLengthName == "Hairless"){
                        <option selected="selected">Hairless</option>
                        } else{
                        <option>Hairless</option>
                        }

                        @if(dog.getHairLengthName == "Short"){
                        <option selected="selected">Short</option>
                        } else{
                        <option>Short</option>
                        }

                        @if(dog.getHairLengthName == "Medium"){
                        <option selected="selected">Medium</option>
                        } else{
                        <option>Medium</option>
                        }

                        @if(dog.getHairLengthName == "Long"){
                        <option selected="selected">Long</option>
                        } else{
                        <option>Long</option>
                        }

                        @if(dog.getHairLengthName == "Very Long"){
                        <option selected="selected">Very Long</option>
                        } else{
                        <option>Very Long</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="colorName">Edit @dog.getDogName's color:</label>
                    <select class="form-control" id="colorName" name="colorName">
                        @for(color <- colors){
                            @if(dog.getColorName == color.getColorName){
                                <option selected="selected">@color.getColorName</option>
                            }
                            else{
                                <option>@color.getColorName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="breed1">Edit your dog's breed(s)</label>
                    <select class="form-control" id="breed1" name="breed1">
                        <option>Select breed</option>
                        @for(breed <- breeds){
                            @if(breed.getBreedName == breed1){
                                <option selected="selected">@breed.getBreedName</option>
                            }else{
                                <option>@breed.getBreedName</option>
                            }
                        }
                    </select>
                    <select class="form-control" id="breed2" name="breed2">
                        <option>Select breed</option>
                        @for(breed <- breeds){
                        @if(breed.getBreedName == breed2){
                        <option selected="selected">@breed.getBreedName</option>
                        }else{
                        <option>@breed.getBreedName</option>
                        }
                        }
                    </select>
                    <select class="form-control" id="breed3" name="breed3">
                        <option>Select breed</option>
                        @for(breed <- breeds){
                        @if(breed.getBreedName == breed3){
                        <option selected="selected">@breed.getBreedName</option>
                        }else{
                        <option>@breed.getBreedName</option>
                        }
                        }
                    </select>
                </div>
                <div class="container">
                    <p>Edit your dog's personality traits:<br>
                        <small id="dogPersonalities" class="form-text text-muted"><font color="white">These will override all current personalities</font></small>
                    </p>
                    <div class="row">
                        @for(personality <- personalities){
                            @if(dogPersonalityIds.contains(personality.getPersonalityId)){
                                <div class="col-3">
                                    <div class="checkbox">
                                        <label class="checkstyle"><input type="checkbox" class="personality"
                                                      name="@personality.getPersonalityName"
                                                      value="@personality.getPersonalityName"
                                                      id="@personality.getPersonalityName"
                                                      data-bind="checked: params.availToStream" checked>
                                            @personality.getPersonalityName
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            }else{
                                <div class="col-3">
                                    <div class="checkbox">
                                        <label class="checkstyle"><input type="checkbox" class="personality"
                                                      name="@personality.getPersonalityName"
                                                      value="@personality.getPersonalityId"
                                                      id="@personality.getPersonalityName">
                                            @personality.getPersonalityName
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-light" value="Save @dog.getDogName">
                <a href="/deleteLocationDog" class="btn btn-danger">Delete @dog.getDogName</a>
            </form>
        </div>
        <div class="col-2">

        </div>
    </div>
    <br>
</div>
</body>
</html>