@(status : String)
@html5.render
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Arkansas Pet Pages</title>
</head>
<body>
    @navbar.render("logIn")
    <div class="container text-primary">
        <h3>Forgot Password</h3>
        @status
    </div>
    <div class="container bg-primary text-white">
        <br>
        <form method="POST">
            @CSRF.formField
            <div class="form-group">
                <label for="emailAddress">Enter your email address:</label>
                <input type="email" class="form-control" id="emailAddress" maxlength="100"
                       name="emailAddress" aria-describedby="emailHelp">
            </div>
            <input type="submit" class="btn btn-light" value="Submit">
        </form>
        <br>
    </div>
</body>
</html>