<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Arkansas Pet Pages</title>
</head>
<body>
    @navbar("home")
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Arkansas Pet Pages</h2>
                <p>
                    Welcome to the Arkansas Pet Pages, your home for finding pets from breeders and shelters in the great state of Arkansas.
                    Feel free to browse the site, <a href="/createAccount"> create an account</a> to show off your own four-legged family members, and find the perfect pooch
                    with the <a href="/dogulator">Dogulator</a>.
            </div>
        </div>
    </div>
</body>
</html>