<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="/assets/stylesheets/fontawesome.css">
    <title>Arkansas Pet Pages</title>
</head>
<body>
    @navbar("home")
    <div class="container text-primary">
        <h3>Arkansas Pet Pages</h3>
    </div>
    <div class="container text-white bg-primary">
        <br>
        <p>
            Welcome to the Arkansas Pet Pages, your home for <a href="/viewDogs"><font color="white"> finding pets</font></a> from
            <a href="/breeders"><font color="white">breeders</font></a>
            and <a href="/shelters"><font color="white">shelters</font></a> in the great state of Arkansas.
            Feel free to browse the site, <a href="/createAccount"><font color="white">create an account</font></a>
            to show off your own four-legged family members, find the perfect pooch with the
            <a href="/dogulator"><font color="white">Dogulator</font></a>, or <a href="/users"><font color="white">connect</font></a>
            with other dog lovers.
        </p>
        <br>
    </div>
</body>
</html>