<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Arkansas Pet Pages</title>
</head>
<body>
    @navbar("home")
    <div class="container text-primary">
        <div class="row">
            <div class="col-12">
                <h2>Arkansas Pet Pages</h2>
                <p></p>
                <p>
                    Welcome to the Arkansas Pet Pages, your home for <a href="/viewDogs"><font color="blue"> finding pets</font></a> from
                    <a href="/breeders"><font color="blue">breeders</font></a>
                    and <a href="/shelters"><font color="blue">shelters</font></a> in the great state of Arkansas.
                    Feel free to browse the site, <a href="/createAccount"><font color="blue">create an account</font></a>
                    to show off your own four-legged family members, find the perfect pooch with the
                    <a href="/dogulator"><font color="blue">Dogulator</font></a>, or <a href="/users"><font color="blue">connect</font></a>
                    with other users.
                </p>
            </div>
        </div>
    </div>
</body>
</html>