@(status : String)
@html5.render
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="/assets/stylesheets/fontawesome.css">
    <title>Arkansas Pet Pages</title>
</head>
<body>
    @navbar("logIn")
    <div class="container text-primary">
        <h3>Log In</h3>
        <p>@status</p>
    </div>
    <div class="container bg-primary text-white">
        <br>
        <div class="row">
            <div class="col-12">
                <form method="POST" action="@routes.UserController.postLogIn">
                    @CSRF.formField
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" class="form-control" id="emailAddress" maxlength="100"
                               name="emailAddress" aria-describedby="emailHelp" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" value="" maxlength="50"
                               name="password" placeholder="Password">
                        <small id="passwordHelp" class="form-text text-muted"><a href="/forgotPassword"><font color="white">(Forgot password)</font></a></small>
                    </div>
                    <input class="btn btn-light" type="submit" value="Log In"><br><br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>