@(page : String)
<div class="container">
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top justify-content-center">
        <i class="fas fa-home"></i>&nbsp;
        <a href="/home" class="navbar-brand d-flex w-50 mr-auto">Arkansas Pet Pages</a>
        <ul class="navbar-nav justify-content-center">

            @if("dogs".equals(page)){
            <li class="nav-item active">
                }else{
                 <li class="nav-item">
                }
                <a class="nav-link" href="/viewDogs">Dogs</a>

            @if("breeds".equals(page) || "breed".equals(page)){
            <li class="nav-item active">
                } else {
            <li class="nav-item">
                }
                <a class="nav-link" href="/breeds">Breeds</a>

            @if("shelters".equals(page) || "shelter".equals(page) || "dog".equals(page) || "dog".equals(page)){
            <li class="nav-item active">
                } else {
            <li class="nav-item">
                }
                <a class="nav-link" href="/shelters">Shelters</a>

            @if("breeders".equals(page) || "breeder".equals(page)){
            <li class="nav-item active">
                } else {
            <li class="nav-item">
                }
                <a class="nav-link" href="/breeders">Breeders</a>

            @if("dogulator".equals(page) || "dogulatorResults".equals(page)){
            <li class="nav-item active">
                } else {
            <li class="nav-item">
                }
                <a class="nav-link" href="/dogulator">Dogulator</a>

            @if("user".equals(page)){
            <li class="nav-item active">
                }else{
            <li class="nav-item">
                }
            <a class="nav-link" href="/users">Connect</a>

        </ul>
        <ul class="navbar-nav ml-auto w-100 justify-content-end">
            @if("createAccount".equals(page) || "createUserAccount".equals(page) ||
            "createShelter".equals(page) || "createBreeder".equals(page)){
            <li class="nav-item active">
                } else {
            <li class="nav-item">
                }
                <a class="nav-link" href="/createAccount">Create Account</a>

                @if("userPage".equals(page) || "editUser".equals(page) ||
                    "account".equals(page)){
            <li class="nav-item active">
                } else {
            <li class="nav-item">
                }
                <a class="nav-link" href="/viewAccount">View Account</a>

                @if("logIn".equals(page)){
            <li class="nav-item active">
                } else {
            <li class="nav-item">
                }
                <a class="nav-link" href="/logIn">Log In</a>
        </ul>
    </nav>
</div>
<br><br><br>
