<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Breed</title>
</head>
<body>
<div class="container text-center">
    <form method="POST">
        @CSRF.formField
        Breed name: <input type="text" name="breedName" id="breedName" maxlength="50" size="51"><br>
        Weight min: <input type="text" name="weightMin" id="weightMin" maxlength="50" size="51"><br>
        Weigth max: <input type="text" name="weightMax" id="weightMax" maxlength="50" size="51"><br>
        Height min: <input type="text" name="heightMin" id="heightMin" maxlength="50" size="51"><br>
        Height max: <input type="text" name="heightMax" id="heightMax" maxlength="50" size="51"><br>
        Life span min: <input type="text" name="lifeSpanMin" id="lifeSpanMin" maxlength="50" size="51"><br>
        Life span max: <input type="text" name="lifeSpanMax" id="lifeSpanMax" maxlength="50" size="51"><br>
        Hair length Id: <input type="text" name="hairLengthId" id="hairLengthId" maxlength="50" size="51"><br>
        Cost from breeder: <input type="text" name="costFromBreeder" id="costFromBreeder" maxlength="50" size="51"><br>
        <input type="submit" value="SAVE">
    </form>
</div>

</body>
</html>