<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Location</title>
</head>
<body>
<form method="POST">
    @CSRF.formField
    Location name: <input type="text" name="locationName" id="locationName" maxlength="50" size="51"><br>
    City: <input type="text" name="city" id="city" maxlength="50" size="51"><br>
    Breed Id: <input type="text" name="breedId" id="breedId" maxlength="50" size="51"><br>
    Address: <input type="text" name="address" id="address" maxlength="50" size="51"><br>
    StateId: <input type="text" name="stateId" id="stateId" maxlength="50" size="51"><br>
    Zip Code: <input type="text" name="zipCode" id="zipCode" maxlength="50" size="51"><br>
    Phone Number: <input type="text" name="phoneNumber" id="phoneNumber" maxlength="50" size="51"><br>
    <input type="submit" value="SAVE">
</form>
</body>
</html>