@(colors : List[Color], personalities : List[Personality], breeds : List[Breed], status : String)
@html5.render
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/radio.css">
    <link rel="stylesheet" href="/assets/stylesheets/checkbox.css">
    <title>Arkansas Pet Pages</title>
</head>
<body>
@navbar("userPage")
<div class="container text-primary">
    <h3>Add a dog</h3>
    <p>@status</p>
</div>
<div class="container bg-primary text-white">
    <br>
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                @CSRF.formField
                <div class="form-group">
                    <label for="dogName">Dog Name</label>
                    <input type="text" class="form-control" id="dogName" name="dogName" maxlength="50"
                           aria-describedby="dogName" placeholder="Enter your dog's name">
                </div>
                <div class="form-group">
                    <label for="refId">Dog's reference ID</label>
                    <input type="text" class="form-control" id="refId" name="refId" maxlength="50"
                           aria-describedby="refId" placeholder="Enter your dog's refference ID">
                </div>
                <div class="form-group">
                    <label for="dogPhoto">Add a photo of your dog</label><br>
                    <input class="btn btn-light" type="file" name="dogPhoto" id="dogPhoto">
                </div>
                <p>Dog Gender</p>
                <div class="radio">
                    <label class="radiochoice">Male
                        <input type="radio" checked="checked" name="gender" value="1">
                        <span class="radiocheckmark"></span>
                    </label>
                </div>
                <div class="radio">
                    <label class="radiochoice">Female
                        <input type="radio" name="gender" value="2">
                        <span class="radiocheckmark"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="dogAge">Dog Age</label>
                    <input type="text" class="form-control" id="dogAge" name="dogAge" maxlength="2"
                           aria-describedby="dogAge" placeholder="Enter your dog's age">
                    <small id="dogAgeEg" class="form-text text-muted"><font color="white">Examples: 4, 6, 2. If your dog is less than 1 year old, enter 0.</font></small>
                </div>
                <div class="form-group">
                    <label for="dogWeight">Dog Weight</label>
                    <input type="text" class="form-control" id="dogWeight" name="dogWeight" maxlength="3"
                           aria-describedby="dogWeight" placeholder="Enter your dog's weight in pounds">
                    <small id="dogWeightEg" class="form-text text-muted"><font color="white">Examples: 12, 56, 34</font></small>
                </div>
                <div class="form-group">
                    <label for="dogWeight">Dog Height</label>
                    <input type="text" class="form-control" id="dogHeight" name="dogHeight" maxlength="3"
                           aria-describedby="dogHeight" placeholder="Enter your dog's height in inches">
                    <small id="dogHeightEg" class="form-text text-muted"><font color="white">Examples: 12, 28, 22. If you're not sure, give it your best guess. Reference the breed page to get a better idea.</font></small>
                </div>
                <div class="form-group">
                    <label for="hairLength">Select your dog's hair length:</label>
                    <select class="form-control" id="hairLength" name="hairLength">
                        <option>Hairless</option>
                        <option>Short</option>
                        <option>Medium</option>
                        <option>Long</option>
                        <option>Very Long</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="colorName">Select your dog's color:</label>
                    <select class="form-control" id="colorName" name="colorName">
                        @for(color <- colors){
                        <option>@color.getColorName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="breed1">Select your dog's breed(s)</label>
                    <select class="form-control" id="breed1" name="breed1">
                        <option>Select breed</option>
                        @for(breed <- breeds){
                        <option>@breed.getBreedName</option>
                        }
                    </select>
                    <select class="form-control" id="breed2" name="breed2">
                        <option>Select breed</option>
                        @for(breed <- breeds){
                        <option>@breed.getBreedName</option>
                        }
                    </select>
                    <select class="form-control" id="breed3" name="breed3">
                        <option>Select breed</option>
                        @for(breed <- breeds){
                        <option>@breed.getBreedName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <p>Select your dog's personality traits:</p>
                    <div class="row">
                        @for(personality <- personalities){
                        <div class="col-3">
                            <div class="checkbox">
                                <label class="checkstyle">
                                    <input type="checkbox" class="weight" name="@personality.getPersonalityName"
                                           value="@personality.getPersonalityId" id="@personality.getPersonalityName">@personality.getPersonalityName
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <input class="btn btn-light" type="submit" value="Save">
            </form>
        </div>
    </div>
    <br>
</div>
</body>
</html>