<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/search.css">
    <link rel="stylesheet" href="/assets/lib/font-awesome/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<button class="button" id="showName">Show name</button>
<button class="button" id="hideName">Hide name</button>
<p id="name">Josiah Douglas</p>
<script src="/assets/javascripts/practice.js"></script>

</body>
</html>