@(shelters : List[Location])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Shelters</title>
</head>
<body>
    @navbar.render("shelters")
    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-8">
                <h3>Shelters</h3>
                @for(shelter <- shelters){
                <a href="/location/@shelter.getLocationId">@shelter.getLocationName</a><br>
                }
            </div>
        </div>
    </div>
</body>
</html>