@(shelter : ShelterDetail, dogs : List[Dog])
@html5.render
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Shelter</title>
</head>
<body>
    @navbar("shelter")
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h3>@shelter.getLocationName</h3><br>
                        <p>@shelter.getAddress</p>
                        <p>@shelter.getCity, @shelter.getStateName @shelter.getZipCode</p>
                        <p>@shelter.getPhoneNumber</p>
                        <p>@shelter.getEmailAddress</p>
                        <p><a href="@shelter.getWebsiteURL">Website</a></p>
                    </div>
                    <div class="col-6">
                        <h3>Available dogs:</h3>
                        @if(dogs.size() == 0){
                            <p>No dogs available at this time!</p>
                        }else{
                            @for(dog <- dogs){
                            <p>
                                <a href="/viewDog/@dog.getDogId">@dog.getDogName</a><br>
                                <img src="../dogDefaultPhoto/@dog.getDogId"><br>
                            </p>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>