@(shelters : List[Location])
@html5.render
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Shelters</title>
</head>
<body>
    @navbar.render("shelters")
    <div class="container text-center">
        <table class="table table-dark bg-primary table-hover">
            <h3>Shelters</h3>
            @for(shelter <- shelters) {
            <tr>
                <td><a href="/location/@shelter.getLocationId"><font color="white">@shelter.getLocationName</font> </a></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>