@(location : ShelterDetail, dogs : List[Dog], status : String)
@html5.render
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Shelter</title>
</head>
<body>  
    @navbar("userPage")
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>@location.getLocationName</h3><a
                <p>Address:<br>
                    @location.getAddress<br>
                    @location.getCity, @location.getStateName @location.getZipCode
                </p>
                <p>Phone number: @location.getPhoneNumber</p>
                <p>Email: @location.getEmailAddress</p>
                <p><a href="@location.getWebsiteURL">Website</a> </p>
                <form action="@routes.UserController.getLogOut">
                    @CSRF.formField
                    <input type="submit" value="Log Out">
                </form>
                <p>Dogs in this shelter:</p>
                @for(dog <- dogs){
                    <a href="/viewLocationDog/@dog.getDogId">@dog.getDogName</a>
                }
                <a href="/newLocationDog">Add a dog</a>
                <a href="/editShelter">Edit</a>
                @status
            </div>
        </div>
    </div>
</body>
</html>