@(user : PetPagesUser, dogs : List[Dog], status : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
    @navbar("userPage")
    <div class="container">
        <div class="row">
            <div class="col-12">
                Welcome, @user.getFirstName @user.getLastName!<br>
                <img src="../userProfilePhoto/@user.getUserId" height="150"><br>
                <a href="/editUser/@user.getUserId">Edit Information</a><br>
                <a href="/newUserDog/@user.getUserId">Add a dog</a><br>
                <form action="@routes.UserController.getLogOut">
                    @CSRF.formField
                    <input type="submit" value="Log Out">
                </form>
                Your dogs:<br>
                @for(dog <- dogs){
                    <a href="../viewUserDog/@dog.getDogId">@dog.getDogName</a>
                }
                @status
            </div>
        </div>
    </div>
</body>
</html>