@(user : PetPagesUser, status : List[String])
@html5.render
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
    @navbar("editUser")
    <div class="container text-primary">
        <h3>Edit Your Account</h3>
        @for(message <- status){
            <p>@message</p>
        }
    </div>
    <div class="container bg-primary text-white">
        <br>
        <div class="row">
            <div class="col-12">
                <form method="POST" enctype="multipart/form-data">
                    @CSRF.formField
                    <div class="form-group">
                        <label for="firstName">Edit First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                               aria-describedby="firstName" value="@user.getFirstName" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Edit Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName"
                               aria-describedby="lastName" value="@user.getLastName" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Edit Email address</label>
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress"
                               aria-describedby="emailHelp" value="@user.getEmailAddress" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Change Password</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword" value=""
                               maxlength="50">
                        <small id="pwHelp" class="form-text text-muted"><font color="white">Leave this blank to keep the same password</font></small>
                    </div>
                    <div class="form-group">
                        <label for="userPasswordCheck">Repeat Password</label>
                        <input type="password" class="form-control" id="userPasswordCheck" name="userPasswordCheck" value=""
                               maxlength="50">
                        <small id="pw2Help" class="form-text text-muted"><font color="white">Leave this blank to keep the same password</font></small>
                    </div>
                    <div class="form-group">
                        <label for="userProfilePhoto">Upload a new profile photo</label>
                        <input type="file" id="userProfilePhoto" name="userProfilePhoto">
                    </div>
                    <div class="form-group">
                        <label for="bio">Edit your bio:</label>
                        <textarea class="form-control" rows="5" id="bio" name="bio" maxlength="500">@user.getBio</textarea>
                        <small id="bioLen" class="form-text text-muted"><font color="white">Character limit of 500</font></small>
                    </div>
                    <input type="submit" class="btn btn-light" value="Save">
                    <a href="/deleteUserAccount" class="btn btn-danger">Delete Account</a>
                </form>
            </div>
        </div>
        <br>
    </div>
</body>
</html>