@(user : PetPagesUser, dog : DogDetail, personalities : List[Personality], photos : List[DogPhoto], firstPhoto : DogPhoto)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/carousel.css">
    <title>Dog</title>
</head>
<body>
    @navbar("dog")
    <div class="container">
        <div class="row">
            <div class="col-12">
                @dog.getDogName <a href="/editUserDog/@user.getUserId/@dog.getDogId">Edit</a> <br>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="container mt-3">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/dogPhoto/@firstPhoto.getDogPhotoId" height="200">
                            </div>
                            @for(dogPhoto <- photos){
                            <div class="carousel-item">
                                <img src="/dogPhoto/@dogPhoto.getDogPhotoId" height="200">
                            </div>
                            }
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="col-4">

                </div>
                <div class="col-4">

                </div>
            </div>
        </div>
    </div>
</body>
</html>